/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
body{
    background-color: #6a006a;
    padding: 0px;
    margin: auto;
    font-family: 'Open Sans';
}

.page-title{
    text-align: center;
}

.main{
    text-align: center;
}

#bienvenida{
    text-align: center;
}

.subtitle{
    text-align: center;
}

.small-text{
	font-size: 12px;
}

.right{
	float: right;
}

#container-search-button{
	padding-bottom: 30px;
}

/* TABLA */

#table{
	border: 3px rgb(0, 0, 0);
	margin: 0 auto;
	width: 1000;
	height: 200;
}

#td{
	border: 3px solid black;
	text-align: center;
}

/* CUADRO CENTRADO */
.cuadro{
    display: flex;
    width: 100%;
    height: 100vh;
}

.container-center{
    padding-top: 50px;
 	padding-right: 80px;
	padding-bottom: 50px;
	padding-left: 80px;			
	min-width: 150px;
	width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(250, 240, 255);
    border-radius: 10px;
    border: solid 4px #cf74f2;
}


/* BOTONES */
.small-button{
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    border: solid 2px #cf74f2;
    width: 100px;
    background-color: white;
    transition: background-color 100ms;
    margin: 2px;
}

.small-button:hover{
    background-color: rgb(250, 240, 255);
}

.big-button{
	display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    border: solid 2px #cf74f2;
    width: 180px;
    background-color: white;
    transition: background-color 100ms;
    font-size: 16px;
}

.big-button:hover{
    background-color: rgb(250, 240, 255);
}

#paginate-buttons{
	padding-top: 10px;
	padding-bottom: 50px;
}

.paginate-button{
	display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    border: solid 2px #cf74f2;
    width: 50px;
    background-color: white;
    transition: background-color 100ms;
    margin: 2px;
    font-family: inherit;
}

/* FORMULARIOS */
.form-login{
    text-align: center;
}

.container-tablon-main{
	padding: 20px;
}

.form-register{
    text-align: center;
}

label{
    width: 150px;
    display: inline-block;
    margin: 0;
    padding: 2px;
    color: black;
    font-size: 14px;
    text-align: left;
}

.modify-form input{
	width: 150px;
}


.text-center{
	text-align: center;
}

.container-user-data{
	display: inline-block;
}

#change-password-btn{
	width: 150px;
}

.input-form{
	display: inline-block;
    border-radius: 5px;
    padding: 4px;
    border: solid 2px #cf74f2;
    width: 150px;
    background-color: white;
    font-family: inherit;
    margin: 2px;
}

/* MENU DE NAVEGACION */
header.navbar {
    display: flex;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #6a006a;
}

ul.navbar-left {
  list-style-type: none;
  display: flex;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6a006a;
}

li.navbar-item {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul.navbar-right {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6a006a;
}

/* MENSAJE DE �XITO */
.message-success{
	max-width: 300px;
	min-width: 200px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #abedb2;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.message-success-left{
	max-width: 300px;
	min-width: 200px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #abedb2;
}

.message-error-left{
	max-width: 300px;
	min-width: 200px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ff9999;
}

/* SELECT */
.select-type{
	display: inline-block;
    border-radius: 5px;
    padding: 4px;
    border: solid 2px #bcdbff;
    width: 150px;
    background-color: white;
    font-family: inherit;
}


#RESERVAS


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
 background-color: rgb(255, 255, 255);
}
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;


}
.mostrador .fila{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    box-shadow: 10px 5px 5px #c0c0c0;
    background-color: #DDDDDD;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
    box-shadow: 10px 5px 5px #de98ef;
    
}
.mostrador .fila .item img{
    width: 100%;
    border-radius: 5%;
}
.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .fechaVencida{
    color: #f85151;
    font-weight: bold;
    font-size: 18px;
}
.mostrador .fila .item .fecha{
    color: #008000;
    font-weight: bold;
    font-size: 18px;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 0px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color:#DDDDDD;
    border-radius:2%;
    margin-left:45px;
	box-shadow: 10px 5px 5px #c0c0c0;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
    margin:10px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .fecha{
    font-size: 30px;
    font-weight: bold;
    color: rgb(37,37,37);
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
    border-radius: 5px;
    margin:20px;
    cursor:pointer;
    box-shadow: 2px 5px 5px #ff8080;
}

.info .fila .buttonMod{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #0080ff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 2px 5px 5px #8080ff;
}
.buttonAdd{
	height: 40px;
	width: 130px;
    border: none;
    color: #fff;
    font-size: 15px;
    background-color: #b838a5;
    border-radius: 5px;
    cursor:pointer;
    margin: 10px 10px -10px 25px;
    box-shadow: 5px 5px 5px #dcb4dc;
}
.buttonAdd:hover{
	width: 200px;
	transition:1000ms;
}