<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PW3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    
  <context-param>
  	<param-name>jdbc</param-name>
  	<param-value>jdbc:mysql://oraclepr.uco.es:3306/i92curam</param-value>
  </context-param>
  <context-param>
  	<param-name>db-user</param-name>
  	<param-value>i92curam</param-value>
  </context-param>
  <context-param>
  	<param-name>db-pass</param-name>
  	<param-value>pw1234</param-value>
  </context-param>
  
  <context-param>
  	<param-name>propertiesPath</param-name>
  	<param-value>/WEB-INF/sql.properties</param-value>
  </context-param>
  
  
   <error-page>
      <error-code>404</error-code>
      <location>/errorPage.jsp</location>
  </error-page>      
  
</web-app>